@using System.Globalization
@{
    Layout="~/Shared/_MasterPage.cshtml";
    var talksVideo = Video.GetVideoDesc();
    var calendar = Calendar.GetCalendar();
}


<div id="talks-video" class="container-fluid visible-sm visible-md visible-lg">
    <div class="container">
        <div class="row">
            <h2 class="text-center">Видео с прошедших выступлений</h2>
            <div id="video-carousel" class="carousel slide center-block" data-ride="carousel">
                <ol class="carousel-indicators">
                    @for(int i=0; i<talksVideo.Count; i++)
                    {
                        <li data-target="#video-carousel" data-slide-to="@i" class="@((i==0)?"active":"")"></li>                      
                    }
                </ol>
                <div class="carousel-inner center-block">
                    @foreach(var videoDesc in talksVideo)
                    {
                        <div class="item @(talksVideo.First() == videoDesc?"active":"") row">
                            <div class="indicators-placeholder"></div>
                            <iframe class="center-block" src="//player.vimeo.com/video/@videoDesc.Item1?badge=0&byline=0&color=E37663&portrait=0&title=0" width="800" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                            <h4 class="text-center">@videoDesc.Item2</h4>
                        </div>
                    }
                </div>
                <a class="left carousel-control" href="#video-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a class="right carousel-control" href="#video-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</div>

<div class="border container-fluid padding-down"></div>

<article class="container">
    <div class="row">
        <h2 class="text-center">Предстоящие события</h2>
        @if(calendar.Count > 0)
        {
            foreach(var calendarItem in calendar)
            {
                <div class="col-md-6">
                    <h3>@calendarItem["Name"]</h3>
                    <p class="badge">@(((DateTime)calendarItem["Date"]).ToString("dd MMMM yyyy", CultureInfo.GetCultureInfo("ru-RU"))) / @calendarItem["Place"]</p>
                    <p>@calendarItem["Desc"]</p>
                </div>
            }
        } 
        else
        {
            <p class="text-center">Нет предстоящих событий </p>
        }
    </div>
</article>